.container {
  width: 100vw;
  transform: translateX(-250px);
  transition: all 300ms ease-in-out;
}

.container.menuOpen {
  width: calc(100vw - 250px);
  transform: translateX(0px);
}

main {
  display: flex;
}

main > * {
  width: 50%;
  height: 100vh;
  transition: all 500ms ease-in-out;
}

.container main.fullscreenPreview .markdown {
 width: 0;
 padding: 0;
 overflow: hidden;
}

.container main .markdown .content {
  width: 50vw;
}
.container.menuOpen main .markdown .content {
  width: calc(50vw - (100px + var(--p-right)));
}

.container main.fullscreenPreview .preview {
  width: 100%;
}

main > * .title {
  height: 42px;
  padding-inline: var(--p-left) var(--p-right);
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--clr-text-panelHeader);
  background-color: var(--clr-background-panelHeader);
}
