.container {
  width: 100vw;
  transform: translateX(-250px);
  transition: all 300ms ease-in-out;
}

.container.menuOpen {
  width: calc(100vw - 250px);
  transform: translateX(0px);
}

main {
  display: flex;
}

main > * {
  width: 50%;
  height: 100vh;
}
/* .container main > :first-child {
 width: 0px;
 padding: 0;
 overflow: hidden;
}
.container main > :last-child {
  width: 100%;
}
.markdown .content {
  width: 50vw;
  overflow: hidden;
  padding-inline: 24px;
} */

main > *:not(.divider) {
  --p-left: 16px;
  --p-right: 24px;
  padding-inline: var(--p-left) var(--p-right);
}

main > * .title {
  height: 42px;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--clr-foreground-markdownbody);
  background-color: var(--clr-background-windowtitle);
  box-shadow: 0 0 0 var(--p-right) var(--clr-background-windowtitle);
	clip-path: inset(0 calc(-1 * var(--p-right)) 0 calc(-0.9 * var(--p-left)));
}
