@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-background-primary: hsl(220, 7%, 18%);
  --clr-background-secondary: hsl(216, 8%, 12%);
  --clr-background-toggle: hsl(216, 9%, 23%);
  --clr-background-main: hsl(225, 9%, 9%);
  --clr-background-panelHeader: hsl(216, 8%, 12%);
  --clr-background-code: hsl(220, 7%, 18%);

  --clr-text-primary: hsl(210, 8%, 74%);
  --clr-text-secondary: hsl(0, 0% , 100%);
  --clr-text-main: hsl(222, 9%, 78%);
  --clr-text-preview: hsl(207, 14%, 83%);
  --clr-text-highlight: hsl(0, 0%, 100%);
  --clr-orange: hsl(13, 75%, 58%);
  --clr-divider: hsl(216, 8%, 38%);

  --p-left: 16px;
  --p-right: 24px;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--clr-text-main);
  background-color: var(--clr-background-main);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  width: calc(100vw + 250px);
  overflow: hidden;
}

#root {
  display: flex;
  font-family: 'Roboto', sans-serif;
}

input {
  background-color: inherit;
  border: none;
  outline: none;
}

button {
  border: none;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11.5px 17px;
  background-color: var(--clr-orange);
  border-radius: 5px;
  cursor: pointer;
  transition: filter 200ms ease-in-out
}

.button:hover {
  filter: brightness(1.15);
}

.divider {
  width: 1px;
  background-color: var(--clr-divider);
}


@media (prefers-color-scheme: light) {
  :root {
    --clr-background-primary: hsl(220, 7%, 18%);
    --clr-background-secondary: hsl(216, 8%, 12%);
    --clr-background-toggle: hsl(216, 9%, 23%);
    --clr-background-main: hsl(0, 0%, 100%);
    --clr-background-panelHeader: hsl(210, 16%, 93%);
    --clr-background-code: hsl(0, 0%, 96%);

    --clr-text-primary: hsl(210, 8%, 74%);
    --clr-text-secondary: hsl(0, 0% , 100%);
    --clr-text-main: hsl(210, 9%, 31%);
    --clr-text-preview: hsl(213, 4%, 51%);
    --clr-text-highlight: hsl(216, 9%, 23%);
    --clr-orange: hsl(13, 75%, 58%);
    --clr-divider: #E4E4E4;

    color: var(--clr-text-main);
    background-color: var(--clr-background-main);
  }
}
