.preview {
  z-index: 2;
}

.fullscreenToggle {
  width: 18px;
  height: 18px;
  transform: translateX(10px);
  cursor: pointer;
}

.fullscreenToggle:hover {
  color: var(--clr-orange);
}

.preview .content {
  height: calc(100% - 120px);
  padding-inline: var(--p-left) var(--p-right);
  font-family: 'Roboto Slab', serif;
  overflow: auto;
  background-color: var(--clr-background-main);
}

.preview :where(h1, h2, h3, h4, h5, h6) {
  color: var(--clr-text-highlight);
}

.preview h1 {
  font-size: 32px;
  line-height: 42px;
  margin-block: 1.34rem;
}

.preview h2 {
  font-weight: 300;
  font-size: 28px;
  line-height: 37px;
  margin-block: 1.453rem;
}

.preview h3 {
  font-size: 24px;
  line-height: 32px;
  margin-block: 1.5rem;
}

.preview h4 {
  font-size: 20px;
  line-height: 26px;
  margin-block: 1.663rem;
}

.preview h5 {
  font-size: 16px;
  line-height: 21px;
  margin-block: 1.67rem;
}

.preview h6 {
  font-size: 14px;
  line-height: 18px;
  margin-block: 2.039rem;
  color: var(--clr-orange)
}

.preview p {
  margin-block: 0.875rem;
  font-size: 14px;
  line-height: 24px;
}

.preview ol,
.preview ul {
  margin-block: 1rem;
  padding-left: 40px;
}

.preview li {
  font-size: 14px;
  line-height: 24px;
  padding-left: 9px;
}

.preview ul li::marker {
  color: var(--clr-orange);
  font-size: 6px;
}

.preview blockquote {
  display: flex;
  align-items: center;
  padding: 24px 24px 24px 20px;
  width: 97%;
  border-radius: 4px;
  border-left: 4px solid var(--clr-orange);
  background-color: var(--clr-background-code);
}

.preview blockquote p {
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: var(--clr-text-highlight);
}

.preview blockquote p a {
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: var(--clr-text-highlight);
}

.preview p code {
  font-family: "Roboto Mono";
  font-size: 14px;
  line-height: 24px;
  color: var(--clr-text-highlight);
}

.preview pre {
  width: 97%;
  padding: 24px 24px 24px 20px;
  border-radius: 4px;
  background-color: var(--clr-background-code);
}

.preview pre code {
  white-space: pre-wrap;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  line-height: 24px;
  color: var(--clr-text-highlight);
}
