header {
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  background-color: var(--clr-background-sectionheader);
  color: var(--clr-foreground-htmlheaders);
}

.menu-toggle {
  min-width: 72px;
  aspect-ratio: 1;
  text-align: center;
  background-color: var(--clr-background-menutoggle);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.menu-toggle:hover {
  background-color: var(--clr-orange);
}

.logo {
  display: none;
}

header .divider {
  height: 40px;
}

.activeDocument {
  width: 100%;
  padding-inline: 17px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.handleDocument {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  cursor: pointer;
}

.delete {
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.delete:hover img {
  filter: brightness(0%) invert(100%);
}

.save {
  font-size: 0;
}

.save img {
  width: 16px;
}

@media only screen and (min-width: 900px) {
  .logo {
    display: block;
    /* width: 184px; */
    padding-inline: 24px 30px;
    text-align: center;
  }
}

@media only screen and (min-width: 550px) {
  .save {
    padding: 11.5px 18px;
    gap: 9px;
    font-size: 14px;
  }
}
